:root {
  --color-primary-text: #2e2f42;
  --color-secondary-text: #434455;
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-success: #31d0aa;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-modal-overlay: rgba(46, 47, 66, 0.4);
  --color-hero-background: rgba(46, 47, 66, 0.7);
  --color-border: rgba(0, 0, 0, 0.25);
  --color-white: #ffffff;
  --color-background-dark: #2e2f42;
  --color-background-social: rgba(255, 255, 255, 0.1);
  --color-background-modal: #fcfcfc;
  --color-footer-form: rgba(255, 255, 255, 0.6);
  --color-black: #000;
  --color-conditions: #757575;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--color-primary-text);
  background-color: var(--color-white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Header */
.header {
  border-bottom: 1px solid var(--color-accent);
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.nav-menu {
  display: flex;
  gap: 40px;
}
.logo-first {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  color: var(--color-primary-text);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-second {
  color: var(--color-primary-brand);
}

.header-link {
  position: relative;
  display: block;
  padding: 28px 0px;

  color: var(--color-primary-text);
  font-weight: 500;
  transition: color var(--transition);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-pressed-state);
  justify-content: center;
}
.header-link.current:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
  content: '';
}

.header-link.current {
  color: var(--color-pressed-state);
}
.address-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.adress-link {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--color-secondary-text);
  font-style: normal;
  transition: color var(--transition);
}

.adress-link:hover,
.adress-link:focus {
  color: var(--color-pressed-state);
}

/* Hero */
.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;

  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  padding: 16px 32px;
  border: 1px solid var(--color-border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--color-primary-brand);
  color: var(--color-white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: color var(--transition),
    background-color var(--transition),
    box-shadow var(--transition);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-pressed-state);
}

/* Features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
}
.features-item {
  flex-basis: calc((100% - 72px) / 4);
  margin-right: 24px;
}
.features-item:last-child {
  margin-right: 0px;
}
.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: var(--color-light);
  margin-bottom: 8px;
}
.features-icon {
  width: 64px;
  height: 64px;
}
.features-caption {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.features-text {
  color: var(--color-secondary-text);
}

.heading {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

/* Works */
.works-section {
  padding-top: 0;
}
.works-list {
  display: flex;
}
.images {
  display: block;
}
.works-item {
  flex-basis: calc((100% - 48px) / 3);
  margin-right: 24px;
}
.works-item:last-child {
  margin-right: 0px;
}

/* Team */
.team-section {
  background-color: var(--color-light);
}
.team-list {
  display: flex;
}
.team-item {
  flex-basis: calc((100% - 72px) / 4);
  margin-right: 24px;
  background-color: var(--color-white);
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-item:last-child {
  margin-right: 0px;
}
.team-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-caption {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.team-text {
  color: var(--color-secondary-text);
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-brand);
  border-radius: 50%;
  fill: var(--color-light);
  transition: background-color var(--transition);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--color-pressed-state);
}
.social-icon {
  width: 16px;
  height: 16px;
}
/* Customers */
.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-subtle-text);
  border-radius: 4px;
  fill: var(--color-subtle-text);
  transition: fill var(--transition),
    border-color var(--transition);
}

.customers-icon {
  width: 104px;
  height: 56px;
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--color-pressed-state);
  fill: var(--color-pressed-state);
}
/* Footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-background-dark);
}

.footer-container {
  display: flex;
}

.brand-container {
  margin-right: 120px;
}

.logo-first-light {
  display: block;
  margin-bottom: 16px;
  color: var(--color-light);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  max-width: 264px;
  color: var(--color-accent);
}

.footer-heading {
  margin-bottom: 16px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.footer-social-container {
  margin-right: auto;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-social);
  border-radius: 50%;
  fill: var(--color-light);
  transition: background-color var(--transition);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--color-success);
}

.footer-social-icon {
  width: 24px;
  height: 24px;
}

.subscribe-input {
  margin-right: 24px;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: var(--color-footer-form);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-input:focus {
  outline: none;
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  gap: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-primary-brand);
  border: none;
  border-radius: 4px;
  fill: var(--color-white);
  transition: background-color var(--transition);
}
.subscribe-button:hover,
.subscribe-button:hover {
  background-color: var(--color-pressed-state);
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

/* Portfolio */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-item {
  margin-right: 24px;
}

.filter-item:last-child {
  margin-right: 0px;
}

.filter-button {
  padding: 12px 24px;
  color: var(--color-primary-brand);
  background-color: var(--color-light);
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: color var(--transition),
    background-color var(--transition),
    box-shadow var(--transition);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--color-white);
  background-color: var(--color-pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  margin-right: 24px;
  margin-top: 48px;
  transition: box-shadow var(--transition);
}

.portfolio-item:nth-child(-n + 3) {
  margin-top: 0px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-container {
  padding-left: 16px;
  border: 1px solid var(--color-accent);
  padding-top: 32px;
  padding-bottom: 32px;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover .portfolio-description,
.portfolio-link:focus .portfolio-description {
  transform: translateY(0);
}

.portfolio-image {
  display: block;
  margin-bottom: 0px;
}

.portfolio-description {
  position: absolute;
  top: 0;
  left: O;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition), 
    color var(--transition),
    background-color var(--transition);
  padding: 40px 32px;
  color: var(--color-light);
  background-color: var(--color-primary-brand);
}

.portfolio-caption {
  margin-bottom: 8px;
  color: var(--color-primary-text);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.portfolio-text {
  color: var(--color-secondary-text);
}
/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--color-modal-overlay);
  transition: transform var(--transition),
    opacity var(--transition), visibility var(--transition),
    backgrund-color var(--transition);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  overflow: auto;
  max-width: 408px;
  max-height: 584px;
  width: 100%;
  height: 100%;
  opacity: 1;
  padding: 72px 24px 24px;
  background-color: var(--color-background-modal);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition),
    opacity var(--transition), visibility var(--transition),
    backgrund-color var(--transition);
}

.backdrop.is-hidden .modal {
  transform: scale(0);
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--color-accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: var(--color-black);
  transition: background-color var(--transition), fill var(--transition);
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    background-color: var(--color-pressed-state);
    fill: var(--color-white);
}

.modal-icon {
  width: 8px;
  height: 8px;
  
  transition: fill var(--transition);
}

.form-field {
  position: relative;
  margin-bottom: 8px;
}
.form-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--color-primary-text);
}

.modal-form {
  justify-content: center;
  align-items: center;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  color: var(--color-subtle-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.form-input {
  width: 100%;
  padding: 11px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition);
}
.form-input:focus {
  border: 1px solid var(--color-primary-brand);
  border-radius: 4px;
  outline: none;
}
.form-icon {
  position: absolute;
  top: 75%;
  left: 16px;
  transform: translate(0, -75%);
  transition: fill var(--transition);
  display: inline-block;
  fill: var(--color-black);
}
.form-input:focus-within + .form-icon {
  fill: var(--color-primary-brand);
}
.textarea {
  height: 120px;
  resize: none;
  padding: 8px 16px;
}
.conditions-container {
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 24px;

}
.checkbox-container {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--color-background-dark);
  border-radius: 2px;
  fill: var(--color-light);
  transition: background-color var(--transition), color var(--transition);
  
}
.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity var(--transition);
}
.checkbox-input {
  appearance: none;
}
.checkbox-input:checked + .checkbox-container {
  background-color: var(--color-pressed-state);
  border-color: var(--color-pressed-state);
  
}
.checkbox-input:checked +.checkbox-container .checkbox-icon {
  opacity: 1;
}
.checkbox-label {
  position: relative;
  padding-left: 24px;
  color: var(--color-conditions);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.checkbox-link {
  color: var(--color-primary-brand);
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.conditions-button {
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--color-primary-brand);
  color: var(--color-white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color var(--transition);
}
.conditions-button:hover,
.conditions-button:focus {
  background-color: var(--color-pressed-state);
}